body {
  text-align: center;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.form {
  display: flex;
  display: inline-block;
  margin-top: 1px;
}
.button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  /* padding: 1rem 2rem; */
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 250ms;
}
.inner-container {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.img {
  width: 300px;
  display: flex;
  justify-content: center;
  margin: 0px 5% 0px 5%;
  margin-bottom: 50px;
  animation: createBox 1s;
}
